<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- stringhe di connessione per utilizzare la vecchia piattaforma IDEM -->
    <add name="QT2K_IDEMEntities" connectionString="metadata=res://*/Qt2KIdemModel.csdl|res://*/Qt2KIdemModel.ssdl|res://*/Qt2KIdemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=data.qt2000.net;Initial Catalog=QT2K_IDEM;Integrated Security=False;User ID = qt2000;pwd = PseudoInutile1629;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="QT2K_IDEM" connectionString="Data Source=data.qt2000.net;Initial Catalog=QT2K_IDEM;Integrated Security=false;User ID = qt2000;pwd = PseudoInutile1629" providerName="System.Data.SqlClient" />
    <add name="IdemContext" connectionString="metadata=res://*/Contexts.IdemContext.csdl|res://*/Contexts.IdemContext.ssdl|res://*/Contexts.IdemContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=data.qt2000.net;initial catalog=QT2K_IDEM;user id=qt2000;password=PseudoInutile1629;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>